.welcome {
    width: 100%;
    height: auto;
    padding: 20px;
}

.animated {
    animation: toDown 1s ease-in-out;
}

@keyframes toDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.welcome .padded {
    width: 100%;
    height: auto;
    padding: 50px;
    background: #ffdd59;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: relative;
}

.welcome .padded p {
    font-size: 17px;
    margin-top: 17px;
}

@media (max-width: 665px) {
    .big-text {
        font-size: 26px !important;
        line-height: normal !important;
    }
}